.my-component {
  border: 1px solid black;
  display: block;
  height: 220px;
  padding: 5px;
  width: 440px;

  &__header {
    color: darkcyan;
  }

  &__text {
    text-align: justify;

    &--hidden {
      visibility: hidden;
    }

    &--highlighted {
      font-weight: bold;
    }
  }

  &__toggler {
    &--active {
      color: red;
    }
  }

  &__link {
    color: green;
    display: inline-block;
    margin-top: 5px;

    &:visited {
      color: yellowgreen;
    }

    &:hover {
      color: palevioletred;
    }
  }
}
