@import "colors";

.my-component {
  border: 1px solid $border;
  display: block;
  height: 220px;
  padding: 5px;
  width: 440px;

  &__header {
    color: $header;
  }

  &__text {
    text-align: justify;

    &--hidden {
      visibility: hidden;
    }

    &--highlighted {
      font-weight: bold;
    }
  }

  &__toggler {
    &--active {
      color: $toggler--active;
    }
  }

  &__link {
    color: $link;
    display: inline-block;
    margin-top: 5px;

    &:visited {
      color: $link--visited;
    }

    &:hover {
      color: $link--hover;
    }
  }
}
