.my-component {
  display: block;
  height: 220px;
  width: 440px;
  border: 1px solid black;
  padding: 5px;
}

.my-component__header {
  color: darkcyan;
}

.my-component__text {
  text-align: justify;
}

.my-component__text--hidden {
  visibility: hidden;
}

.my-component__text--highlighted {
  font-weight: bold;
}
